html{
	height: 100vh;
	width:100vw;
	background: url("container-image.png");
	font-family: 'Karla', sans-serif;
	background-repeat: no-repeat;
	  background-size: cover;
}

body{
	margin:0;
}

.container-main{
	padding-top: 3%;
	background-color: white;
	text-align: center;
	width:70vw;
	height: 50vh;
	margin:0 auto;
	margin-top: 15vh;
	box-sizing: border-box;
	border-radius: 20px;
	opacity: 95%;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

button{
	font-weight: bold;
	width: 15vw;
	height: 6vh; 
	border-radius: 3px;
	white-space: nowrap;
	color: whitesmoke;
	cursor:pointer;
}

button:active {
  transform: scale(0.97);
}
#one-more{
	background-color: darkgreen;
}

#up{
	background-color: darkred;
}

P{
	margin-top: 5vh;
	font-size: 1.2rem;
}

@media only screen and (max-width: 600px) {
body{
	background-position: center center;
}
  .container-main{
  	height: 45vh;
  	border-radius: 7px;
  	justify-content: center;
  	margin-top: 20vh;
  	background-color: #C1E5ED;
  }

  .button-container{
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  }

  button{
  	width: 50vw;
  	border-radius: 10px;
  }

  #up{
  	margin-top: 0.5rem;
  }





}
