body{
	background-image: url("black-numbers-background_b4eu7wk3_thumbnail-1080_01.png");
	text-align:center;
	margin:175px;
}

button {
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#container {
    background-color:azure;
    max-width: 70%;
    margin: auto;
    border: 3px solid black;
    border-radius: 10px;
}

#inc-btn{
	background:darkred;
}

#save-btn{
	background:darkgreen;
}
